<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title>Мои репетиторы</title>
</head>
<body>
<section layout:fragment="content">
    <h1>Мои репетиторы</h1>

    <table class="table table-hover">
        <thead>
        <tr>
            <th>ID</th>
            <th>Email</th>
            <th>Имя</th>
            <th>Фамилия</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="tutor : ${tutors}"
            th:onclick="|window.location='@{/frontend/tutors/{id}(id=${tutor.id})}'|"
            style="cursor:pointer">
            <td th:text="${tutor.id}">1</td>
            <td th:text="${tutor.email}">tutor@mail.com</td>
            <td th:text="${tutor.personalInfo.firstname}">Анна</td>
            <td th:text="${tutor.personalInfo.lastname}">Петрова</td>
        </tr>
        </tbody>
    </table>
</section>
</body>
</html>
